@import "./reset.css";
/* This is to reset the defualt values of style attributes applied to our tags */



@import "./variables\ \(colors\).css";
/* This is for us to add our own colors */

/* This is for more fonts! */
@import "./fonts.css";

/* This CSS file is for the scroll of the logos at the partners part. */
/* Also sir before I go any further, I have to say that you misclicked on the partners name.
You wrote "PERTNERS", Instead of "PARTNERS".
If you plan to officaly use our version, Just correct that. */
@import "./logo\ scroll\ animation.css";

/* Okay, I'm doing this late but I need to test a theory. */
/* @import "./responsive.css"; */
/* I was wrong, I thought by putting the:
@media only screen and () {

}
style attribute after the 1st line like my animation with the:
@keyframes {}
would make it work. Needs a bit more work.*/

html {
    scroll-behavior: smooth;

}

body {
    font-family: chivo;
}

.deceleration-holder {
    background-color: var(--header-color);
    width: 100%;
    height: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.deceleration-holder__aligner {
    width: 94%;
    height: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px 0px;
}

.deceleration-holder__aligner-upper-text {
    font-size: 18px;
    font-weight: lighter;
}

.deceleration-holder__aligner-upper-text--green {
    color: var(--custom-green);
    line-height: 27px;
}

.deceleration-holder__aligner-upper-text--white {
    color: var(--custom-white);
}

.deceleration-holder__timer {
    display: flex;
    gap: 0px 32px;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.timer-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: medium;
}

.deceleration-holder__timer-big-text--green {
    font-size: 20px;
    color: var(--custom-green);
    font-weight: bold;
}

.deceleration-holder__timer-small-text--grey {
    font-size: 14px;
    color: var(--timer-gray);
}

.deceleration-holder__learn {
    display: none;
    color: #fff;
}

/* go back to FINISH THIS! */
.menu {
    height: 79px;
    width: 100%;
    background-color: #fff;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.13);
    top: 0px;
    z-index: 100;

}

.menu__aligner {
    width: 351px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
}

.menu__left-side {
    display: flex;

}

.menu__left-side-menu {
    display: none;
}

.menu__right-side-call {
    display: none;
}

.menu__right-side-social-media {
    display: none;
}

.menu__right-side-social-media-facebook, .menu__right-side-social-media-twitter {
    color: var(--facebook-and-twitter-blue);
}

.menu__right-side-social-media-linkdin {
    color: var(--linkdin-blue);
}

.menu__right-side-social-media-youtube {
    color: var(--youtube-red);
}

.menu__right-side-social-media-envelope {
    color: var(--envelope-green);
}

.menu__right-side-dropdown-menu-holder {
    display: flex;
    align-items: center;
    height: 79px;
}

.menu__right-side-dropdown-menu-opener {
    color: var(--envelope-green);
    font-size: 30px;
    display: inline-block;
    padding-right: 10px;    
}

.menu__right-side-dropdown-menu-holder:hover .menu__right-side-dropdown-menu {
    visibility: visible;
}

/* Starting deleting the belows. */

.menu__right-side-dropdown {
    position: relative;
}

.menu__right-side-dropdown-menu {
    right: 0%;
    top: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    visibility: hidden;
    width: 351px;
    /* background-color: darkred; */
    background-color: #fff;

}

.menu__right-side-dropdown-menu-options {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 3px;
    width: 313px;
    padding-bottom: 20px;
}

.menu__right-side-dropdown-menu-option, .menu__right-side-dropdown-menu-submenu-opener,.submenu-option {
    height: 36.5px;
    width: 313px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-option, .dropdown-blog-option {
    color: var(--complete-black);
    font-size: 15px;
    font-weight: 500;
}

.menu__right-side-dropdown-menu-submenu-opener {
    display: flex;
    justify-content: space-between;
    color: var(--complete-black);
}

.menu__right-side-dropdown-menu-submenu-opener-tag {
    color: var(--complete-black);
}

.menu__right-side-dropdown-menu-submenu-opener-and-closer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.open-symbol {
    position: absolute;
}

.close-symbol {
    position: absolute;
    display: none;
}

.menu__right-side-dropdown-menu-submenu-holder:hover .close-symbol {
    display: inline-block;
}

.menu__right-side-dropdown-menu-submenu-holder:hover .open-symbol {
    display: none;
}

.menu__right-side-dropdown-menu-submenu {
    overflow: hidden;
    height: 0px;
    width: 100%;
    transition: width 0.3s ease-in, height 0.3s ease-in 0.1s;
}

.menu__right-side-dropdown-menu-submenu-holder:hover .menu__right-side-dropdown-menu-submenu {
    visibility: visible;
    height: 110px;
    width: 100%;
    transition: width 0.3s ease-in, height 0.3s ease-in 0.1s;
}

.submenu-option {
    padding-left: 30px;
}

/* Delete the above */

.course {
    height: 300px;
    width: 100%;
    background-image: url(../Image/Course/Course\ Background.png);
    background-position: 50% 50%;
    background-size: 430%;
    background-repeat: no-repeat;
    padding-left: 12px;
    color: var(--custom-white-head);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.course__aligner {
    display: flex;
    flex-direction: column;
    height: 52.5%;
    gap: 17px 0px;
    padding-top: 8px;
}


.course__concept-and--bold {
    font-size: 27px;
    font-weight: 900;
    color: #fff;
    
}


.course__events {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
}

/* These are the rest that need size adjusting for different screen sizes. */

.programs {
    width: 100%;
    height: 1273.58px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.programs__aligner {
    width: 351px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.programs__explaination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0px;
    height: 243px;
}

.programs__explaination-headline-text {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    color: var( --header-color);
}

.programs__explaination-bottom-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
    color: var(--teacher-text-color);
}

.programs__explaination-the-actual-bottom-text {
    line-height: 1.5;
}  
/* .section-tittle p {
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5; */
/* } */
/* Sir why did you tell me to not apply style attribute to tags if you do the same????? */

.programs__articles {
    display: flex;
    flex-direction: column;
    gap: 28px 0px;
}

.programs__articles-science {
    width: 351px;
    height: 429.89px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    transition:  0.4s linear 0s;
}

.programs__articles-science:hover {
    border: 1px solid var(--custom-green-2);
    transition:  0.4s linear 0s;
}

.programs__articles-science-aligner {
    width: 319px;
    height: 429.89px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px 0px;
}

.progrmas__science-image {
    width: 319px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.progrmas__actual-science-image {
    width: inherit;
    transition:  0.4s linear 0s;
}

.programs__articles-science:hover .progrmas__actual-science-image {
    scale: 1.1;
    transition:  0.4s linear 0s;
}

.programs__science-text {
    width: 319px;
    color: var(--article-grey);
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
    padding-left: 10px;
}

.programs__science-Faculty {
    font-size: 18px;
    color: var(--header-color);
    font-weight: 600;
    transition:  0.4s linear 0s;
}

.programs__articles-science:hover .programs__science-Faculty {
    color: var(--custom-green-2);
    transition:  0.4s linear 0s;
}

.programs__science-actual-explaination-text {
    line-height: 1.5;
}

.programs__learn-more-holder {
    align-self: flex-start;
    padding-left: 10px;
}

.programs__learn-more {
    border-bottom: 2px solid var(--custom-green-2);
    color: var(--custom-green-2);
    padding-bottom: 8px;
    font-size: 16px;
    width: 90px;
    transition: 0.3s linear 0s;
}

.programs__learn-more:hover {
    letter-spacing: 1px;
    width: 100px;
    transition: 0.3s linear 0s;
}

.programs__articles-art {
    width: 351px;
    height: 429.89px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    transition:  0.4s linear 0s;
}

.programs__articles-art:hover {
    border: 1px solid var(--custom-green-2);
    transition:  0.4s linear 0s;
}

.programs__articles-art-aligner {
    width: 319px;
    height: 429.89px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px 0px;
}

.progrmas__art-image {
    width: 319px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.progrmas__actual-art-image {
    width: inherit;
    transition:  0.4s linear 0s;
}

.programs__articles-art:hover .progrmas__actual-art-image {
    scale: 1.1;
    transition:  0.4s linear 0s;
}

.programs__art-text {
    width: 319px;
    color: var(--article-grey);
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
    padding-left: 10px;
}

.programs__art-Faculty {
    font-size: 18px;
    color: var(--header-color);
    font-weight: 600;
    transition:  0.4s linear 0s;
}

.programs__articles-art:hover .programs__art-Faculty {
    color: var(--custom-green-2);
    transition:  0.4s linear 0s;
}

.programs__art-actual-explaination-text {
    line-height: 1.5;
}


.trust {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 885px;
}

.trust__aligner {
    display: flex;
    flex-direction: column;
}

.trust__teacher-bg {
    width: 100%;
    background-color: var(--custom-cream);
    /* background-color: red; */
    height: 255px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.trust__teacher-image-div {
    width: 267px;
    margin-right: 20px;
    margin-top: 10px;
}

.trust__teacher-image-tag {
    width: inherit;
}

.trust__text {
    width: 100%;
    height: 767.34px;
    background-color: var(--custom-green-2);
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 32px 0px;
}

.trust__text-aligner {
    padding-top: 50px;
    width: 82.6%;
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
    
}

.trust__text-headline-div {
    font-size: 16px;
    font-weight: 900;
}

.trust__text-explaination-div {
    line-height: 1.5;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
    font-weight: 500;
    color: var(--weird-green);
}

.trust__learn-more-aligner {
    width: 82.6%;
}

.trust__learn-more-a {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 6px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s linear 0s;
    width: 70px;
}

.trust__learn-more-a:hover {
    display: inline-block;
    width: 80px;
    letter-spacing: 1px;
    transition: 0.3s linear 0s;
}

.footer {
    background-color: var(--header-color);
    width: 100%;
    display: flex;
    justify-content: start;
    color: var(--custom-whote);
}

.footer__aligner {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 45px 0px;
}


.footer__university-logo {
    /* padding-left: 10px; */
    padding-top: 5px;
}

.footer__all-subjects {
    display: flex;
    flex-direction: column;
    gap: 52px 0px;
    padding-left: 12px;
}

.subject {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;

}

.footer__all-subjects-headline-text {
    font-size: 20px;
    font-weight: 750;
}

.footer__quick-top-link, .footer__program-top-link, .footer__resources-top-link {
    padding-top: 10px;
}

.links {
    color: var(--custom-grey);
    font-size: 16px;
    transition: 0.4s linear 0s;

}

.link-text:hover{
    text-decoration: underline;
    color: var(--custom-green-2);
    transition: 0.4s linear 0s;

}

.footer__newsletter {
    display: flex;
    flex-direction: column;
    gap: 35px 0px;
}

.footer_newsletter-email {
    display: flex;
    flex-direction: column;
    gap: 17px 0px;
    position: relative;
    width: 349px;
}

.footer_newsletter-send-email {
    width: 349px;
    height: 58px;
    padding-left: 20px;
}

.footer_newsletter-send-email:focus {
    outline: none;
}

.footer_newsletter-send-email[type="email"], .footer_newsletter-send-email::placeholder {
    font-size: 16px;
    color: var(--custom-gray-another);
    font-weight: 500;
}

.footer_newsletter-email-send-button {
    position: absolute;
    background-color: var(--custom-green-2);
    cursor: pointer;
    border: none;
    height: 58px;
    width: 80.5px;
    right: 0%;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_newsletter-email-send-image {
    height: 20px;
    color: var(--custom-whote);
}

.footer__newsletter-social-media {
    display: flex;
    gap: 0px 15px;
}

.footer__newsletter-social-media-logo {
    font-size: 20px;
    color: var(--custom-white-head);
}

.footer__newsletter-social-media-logo:hover {
    color: var(--custom-green-2);
    transform: rotateY(180deg);
    transition: 0.4s linear 0s;
}

.footer__copyright-and-creator {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    
}

.footer__copyright-and-creator-aligner {
    border-top: 1px solid var(--footer-border);
    width: 92%;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 2;
    color: var(--custom-grey);
    padding-top: 20px;
    padding-bottom: 20px;
}

.fa-heart {
    color: var(--custom-green-2);
}

.footer__copyrght-link {
    color: var(--custom-green-2);

}

.nearly-forgot__div {
    position: fixed;
    right: 0.1%;
    bottom: 2%;
    transform: translateX(-33%);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--custom-green-2);
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 100;
}
