:root {
    --header-color: #32404D;
    --custom-green: #00B78A;
    --custom-green-thinned: rgba(0, 122, 92, 0.08);
    --custom-green-2: #007A5C;
    --custom-white-head: #fff;
    --custom-white: #E4E8F2;
    --timer-gray: #FFFFFFB3;
    --custom-whote: #FFFFFF;
    --teacher-background: #FCF2EB;
    --teacher-big-text-color: #32404D;
    --teacher-text-color: #777777;
    --border-color: #D9E2E9;
    --science-color: #212529;
    --border-color: rgb(93,100,106,0.2); 
    --ANOTHER-GREY: #dee2e6;
    --custom-cream: #FFF6EE;
    --weird-green: #C9D6CB;
    --custom-grey: #A7AEB4;
    --custom-gray-another: #5C6168;
    --footer-border: rgba(255, 255, 255, 0.1);
    --facebook-and-twitter-blue: #3B5998;
    --linkdin-blue: #1DA1F2;
    --youtube-red: #FF0000;
    --envelope-green: #34A853;
    --complete-black: #000;
    --article-grey: #5D646A;
    --new-black: #2d2d2d;
    --another-grey: #999999;
    --page-swticher-grey: #8a8a8a;
    --next-or-previous-page-grey: #f0e9ff; 
    --How-many-whites-do-you-need: #fbf9ff;
    --tag-grey: #888888;
    --how-many-greys: #eeeeee;
    --body-green: #fcfff99a;
    --quote-bg: rgba(130,139,178,0.1);
    --user-form-grey: #e5e6e9;
    --bold-orange: #F15B43;
    --first-button-blue: #415094;
    --first-button-white: #f9f9ff;
    --third-button-blue: #4cd3e3;
    --fourth-button-blue: #38a4ff;
    --fifth-button-yellow: #f4e700;
    --sixth-button-red: #f44a40;
    --seperating-line: #eee;
    --table-categories: #415094;
    --table-border: #edf3fd;
    --percent-blue: #0d6efd;
    --percent-semi-red: #e66686;
    --percent-orange: #f09359;
    --percent-green: #73fbaf;
    --percent-purple: #a367e7;
    --flex-purple: #828bb2;
    --ordered-list-color: #828bb2;
    --fornm-grey: #7A7A7A;
    --city-select-grey: #6c757d;
    --selectbox-black: #071112;
    --checkbox-pink: #fd577d;
    --checkbox-black: #021A24;
    --icon-color: #8f9195;
    --top-text: #2a2a2a;
    --the-unseeible-color: #f1f1f1;
    --unseeible-background: #f9f9ff;
    --location-grey: #E8EAED;
    --shadow-color: rgba(221,221,221,0.3);
    --page-select-shadow: #635c5c;
}