.box {
    height: 140px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}