body {
    margin: 0;
    text-align: center;
}

.upper, .lower, .red-hold, .blue-hold, .black-hold, .yellow-hold {
    display: inline-block;
}

.upper {
    margin-top: 8cm;
}

.red, .blue, .black, .yellow  {
    background-color: brown;
    height: 2.5cm;
    width: 2.5cm;
    display: inline-block;
}



@media only screen and (max-width:900px){
    /* There has to be space between "and", and brace ("()") */
    .upper {
        margin-top: 8cm;
        display: block;
    }
    .red {
        background-color: red;
    }
    .blue {
        background-color: blue;
    }
    .black {
        background-color: black;
    }
    .yellow {
        background-color: yellow;
    }
    

}

@media only screen and (max-width:400px){

    .upper, .lower, .red-hold, .blue-hold, .black-hold, .yellow-hold {
        display: block;
    }
    
    .upper {
        margin-top: 5.8cm;
    }
    
    .red, .blue, .black, .yellow  {
        background-color: brown;
        height: 2.5cm;
        width: 2.5cm;
        display: inline-block;
    }

}



