div {
    display: flex;
    flex-direction: row;
    width: 5cm;
    height: 5cm;
    background-color: red;
    justify-content: end;
    
}

.first {
    display: inline-block;
    color: white;
    align-self: flex-end;
    
}

.second {
    
    background-color: blue;
    align-self: stretch;
}


