@import "./reset.css";

@import "./variables\ \(colors\).css";


.list-1 {
    background-color: orange;
    color: rgb(1, 132, 255);

}

.list-1__options {
    color: rgb(0, 64, 124);
    border: 1px solid white;
}

.list-1__options:checked {
    color: orange;
    background-color: rgb(0, 64, 124);
}

div span:hover {
    color: gold;
}
