@import "./reset.css";
@import "./help.css";


/* app css */

.wrapper {
    width: 80%;
    height: 70%;
    border-radius: 0.3rem;
    flex-wrap: wrap;
    gap: 1rem 0;
    overflow-y: auto;
    padding: 1rem 0;
}
.box {
    width: 32%;
    height: 170px;
    background-color: orange;
    font-size: 1.7rem;
    font-weight: bolder;
}