.triangle {
    border: 4cm solid transparent;
    border-left-color: blue ;
    height: 0.01cm;
    width: 5cm;
}

.half-rounded-square {
    border: 1cm solid red;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: inline-block;
    rotate: -45deg;
}

.square {
    display: inline-block;
    height: 2cm;
    width: 2cm;
    background-color: red;
    rotate: 45deg;
    position: relative;
    top: 1.1cm;
    right: 1cm;
    border-bottom-right-radius: 10px;
}

.half-rounded-square-2 {
    border: 1cm solid red;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: inline-block;
    rotate: 45deg;
    position: relative;
    right: 1.8cm;
    bottom: 0.2cm;
}