:root {
    --major-parts-blue: rgb(60,75,94);
    --major-parts-darkerBlue: rgb(42, 52, 65);
    --pages-grey: #cccdcb;
    --input-seperator-color: rgba(0, 0, 0, .2);
    --beautiful-blue: rgb(25, 51, 136);
}