body {
    background-color: black;
}
.All-images {
    background-color: white;
    width: 100%;
    margin-top: 5cm;
    height: 10cm;
}


div {
    margin-top: 25px;
    text-align: center;
    display: inline-block;
    
}

img {
    border-radius: 100%;
    margin-left: 3px;
    /* Here you should put an attribute that makes them all aligned to each other */
    border: 5px solid magenta;
    padding: 5px;
}

p {
    height: 5px;
    width: 2cm;
    margin-left: 0.9cm;
    /* Here you should put an attribute that makes them all aligned to each other */
    text-align: center;
    
}