label {
    position: relative;
}

input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}

a {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

input:checked + a {
    color: red;
}