@import url(./reset.css);


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
}

main {
flex-grow: 1; /* Allows the main content to grow only if needed, Equal to = flex-basis: 0px, flex-grow: 1, flex-shrink: 1*/
}

section {
height: 300px; /* Example height for content */
background-color: lightblue;
padding: 20px;
}

footer {
background-color: #333;
color: white;
text-align: center;
padding: 10px;
}