@import "./reset.css";

.holder-of-another-box {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holder-of-another-box__another-box {
    height: 3cm;
    width: 3cm;
    background-color: white;
    position: absolute;
    z-index: 5;
}

.absolute {
    position: absolute;
    height: 3cm;
    width: 3cm;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}